.input {
    color: rgba(14, 211, 215);
    font-size: 25px;
    text-align: center;
    width: 120px;
    height: 40px;
    border: 1px solid #0ed3d7;
    border-radius: 20px;
    margin: 10px 0 22px 20px;
}

.error {
    font-size: 25px;
    text-align: center;
    width: 120px;
    height: 40px;
    border: 1px solid #0ed3d7;
    border-radius: 20px;
    background-color: rgba(148, 0, 0, 0.9);
    margin: 10px 0 22px 20px;
}