.input {
    font-size: 25px;
    text-align: center;
    width: 120px;
    height: 20px;
    border: 1px solid #0ed3d7;
    border-radius: 10px;
    margin-left: 20px;
}

.error {
    font-size: 25px;
    text-align: center;
    width: 120px;
    height: 20px;
    border: 1px solid #0ed3d7;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.91);
    margin-left: 20px;
}